**/*.log
**/*.backup
**/*.toc
**/*.out
**/*.aux
**/*.pdf
**/*.new
**/*.dvi
*~
**/*.asta.lock
**/*.bak
**/*.asta.bak
**/*.kate-swp
**/*.glo
**/*.gls
**/*.glg
**/*.alg
**/*.acr
**/*.acn
**/*.xdy
**/*.project
**/*.lof
**/*.lot
**/*.synctex.gz
**/*.tex.bak
**/*.vpp*
**/*.vpp*
**/.idea/
**/*.svg
!**/img/*.pdf
!**/img/*.svg
!**/immagini/**/*.pdf
!**/diagrammi/**/*.pdf
